---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
gallery:
  - url: https://i.imgur.com/mTamh71.png
    image_path: https://i.imgur.com/mTamh71.png
    alt: "UW Graduate Association for Students in Psychology 2020 Logo"
    title: "UW Graduate Association for Students in Psychology 2020 Logo"
  - url: https://i.imgur.com/pdcrDQB.png
    image_path: https://i.imgur.com/pdcrDQB.png
    alt: "UW Graduate Association for Students in Psychology 2020 Logo Shirt Mockup"
    title: "UW Graduate Association for Students in Psychology 2020 Logo Shirt Mockup"
  - url: https://i.imgur.com/PIwPS9M.jpg
    image_path: https://i.imgur.com/PIwPS9M.jpg
    alt: "UW Psychology Discovery Conference 2020 Abstract Book"
    title: "UW Psychology Discovery Conference 2020 Abstract Book"
  - url: https://i.imgur.com/eAmsl71.png
    image_path: https://i.imgur.com/eAmsl71.png
    alt: "UW Stand Up to Stigma Spotlight 2016 Poster"
    title: "UW Stand Up to Stigma Spotlight 2016 Poster"
  - url: https://i.imgur.com/QL4BMIS.jpg
    image_path: https://i.imgur.com/QL4BMIS.jpg
    alt: "UW Jack.org Self-Care Fair 2015 Banner"
    title: "UW Jack.org Self-Care Fair 2015 Banner"
  - url: https://i.imgur.com/ZaV6KcV.jpg
    image_path: https://i.imgur.com/ZaV6KcV.jpg
    alt: "UW Stand Up to Stigma Blackboard Campaign 2014 Poster"
    title: "UW Stand Up to Stigma Blackboard Campaign 2014 Poster"
---

I do some amateur graphic design work as a hobby!

{% include gallery %}

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

